.slider {
  background-image: url(../img/header.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

caption {
  padding: 10px;
}
