.strong {
  color: fuchsia;
}

body,
html {
  height: 100%;
  padding: 0;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.text-pink {
  color: fuchsia;
}
